$govuk-include-default-font-face: false;
$govuk-assets-path: "/govuk-frontend/dist/govuk/assets/" !default;

@import "settings/all";
@import "tools/all";

@import "node_modules/govuk-frontend/dist/govuk/base";
