{%- set params = {
  classes: "govuk-button--hmlr " + params.classes,
  element: params.element,
  isStartButton: params.isStartButton,
  href: params.href,
  text: params.text,
  type: params.type
} -%}

{% include "govuk/components/button/template.njk" %}
