@import "govuk-frontend/govuk/objects/width-container";

@include govuk-exports("hmlr/component/primary-navigation") {
  .hmlr-primary-navigation {
    border-bottom: 1px solid $govuk-border-colour;
    background-color: #f8f8f8; // TODO: VARIABLE
  }

  .hmlr-primary-navigation__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  // .hmlr-primary-navigation-width-container {
  //   @include govuk-width-container;
  // }

  .hmlr-primary-navigation__container--full-width {
    margin: 0;
  }

  .hmlr-primary-navigation__list-item {
    position: relative;

    $navigation-height: 50px;

    @include govuk-font(19, $weight: bold, $line-height: $navigation-height);
    box-sizing: border-box;
    height: $navigation-height;
    height: govuk-px-to-rem($navigation-height);
    padding: 0 govuk-spacing(3);

    @include govuk-media-query($from: tablet) {
      float: left;
    }
  }

  .hmlr-primary-navigation__list-item--current {
    border-bottom: 4px solid govuk-colour("black");
  }

  .hmlr-primary-navigation__link {
    margin: govuk-spacing(3) 0;
    padding: 0;
    @include govuk-typography-weight-bold; // Override .govuk-link weight
    font-size: 19px; // We do not have a font mixin that produces 19px on mobile
    font-size: govuk-px-to-rem(19px);

    &:link,
    &:visited {
      color: govuk-colour("black");
    }

    // Expand the touch area of the link to the full menu width
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
