@include govuk-exports("hmlr/component/header") {
  .govuk-header--hmlr {
    > .govuk-header__container {
      border-bottom-color: $hmlr-brand-colour;
    }
  }

  .govuk-header__content--hmlr {
    @include govuk-media-query($from: desktop) {
      padding-left: 0;
    }
  }

  .govuk-header__logo--hmlr {
  }

  .govuk-header__logotype--hmlr {
    position: relative;
    top: -1px;
    margin-right: 1px;
    fill: currentcolor;
    vertical-align: top;
  }

  .govuk-header__link--no-hover {
    &:hover {
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
