{% from "../../macros/attributes.njk" import govukAttributes %}

<header class="govuk-header govuk-header--hmlr {%- if params.classes %} {{ params.classes }}{% endif %}" data-module="govuk-header"
  {{- govukAttributes(params.attributes) }}>
  <div class="govuk-header__container {{ params.containerClasses | default("govuk-width-container", true) }}">
    <div class="govuk-header__content govuk-header__content--hmlr">
      {% if params.serviceUrl %}
      <a href="{{ params.serviceUrl }}" class="govuk-header__link govuk-header__service-name">
        {{ params.serviceName }}
      </a>
      {% else %}
      <span class="govuk-header__service-name">
        {{ params.serviceName }}
      </span>
      {% endif %}
    </div>
  </div>
</header>
