$govuk-assets-path: "/node_modules/govuk-frontend/govuk/assets/";
$hmlr-assets-path: "/src/hmlr/assets/";

.sb-show-main.sb-main-padded {
  padding: 30px;
}

.app-example-page__wrapper {
  background-color: #fff;

  overflow: auto;
}
